/*.cover-container {
    background-image: url(../components/forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}*/
#start {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: darkgreen;
    border: solid 5px black;
    color:black;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#start:hover {
    border: solid 5px white;
    color:white;
    background-color: darkgreen;
}    

