body {
  background-image: url(components/images/forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App { 
  text-align: center;
}

#logout {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}
#logout:active {
  top:0.1em;
}
#logout:focus {
  outline: black;  
}
#logout:hover {
  box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.4);
  transform: translate(0px, -6px);  
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 80px; */
  /* background-image: url(./components/images/Ecolens-logo-07.png); */
  height: 9rem;
  width: 9rem;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.App-header {
  background-color: transparent;
  height: 150px;
  padding: 20px;
}


.App-title {
    /* font-size: 1.5em; */
    font-family: 'Aster', sans-serif;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 3rem;
    animation: fadein 3s;
    color: lightgrey;
    /* color: black; */
    margin: auto;
    text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.1),
    2px 2px 0px  rgba(0, 0, 0, 0.1),
    3px 3px 0px  rgba(0, 0, 0, 0.1),
    4px 4px 0px  rgba(0, 0, 0, 0.1),
    5px 5px 0px  rgba(0, 0, 0, 0.1),
    6px 6px 0px  rgba(0, 0, 0, 0.1),
    7px 7px 0px  rgba(0, 0, 0, 0.1),
    8px 8px 0px  rgba(0, 0, 0, 0.1),
    9px 9px 0px  rgba(0, 0, 0, 0.1),
    10px 10px 0px rgba(0, 0, 0, 0.1),
    11px 11px 0px rgba(0, 0, 0, 0.1),
    12px 12px 0px rgba(0, 0, 0, 0.1),
    13px 13px 0px rgba(0, 0, 0, 0.1),
    14px 14px 0px rgba(0, 0, 0, 0.1),
    15px 15px 0px rgba(0, 0, 0, 0.1),
    16px 16px 0px rgba(0, 0, 0, 0.1),
    17px 17px 0px rgba(0, 0, 0, 0.1),
    18px 18px 0px rgba(0, 0, 0, 0.1),
    19px 19px 0px rgba(0, 0, 0, 0.1),
    20px 20px 0px rgba(0, 0, 0, 0.1),
    21px 21px 0px rgba(0, 0, 0, 0.1),
    22px 22px 0px rgba(0, 0, 0, 0.1),
    23px 23px 0px rgba(0, 0, 0, 0.1),
    24px 24px 0px rgba(0, 0, 0, 0.1),
    25px 25px 0px rgba(0, 0, 0, 0.1),
    26px 26px 0px rgba(0, 0, 0, 0.1),
    27px 27px 10px rgba(0, 0, 0, 0.1),
    28px 28px 10px rgba(0, 0, 0, 0.1),
    29px 29px 10px rgba(0, 0, 0, 0.1),
    30px 30px 10px rgba(0, 0, 0, 0.1)
    
  ;
}

.App-subtitle {
    font-family: 'Aster', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    font-weight: bold;
    color: lightgrey;
    margin-top: 0;
    padding-top: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.App-intro {
  font-size: large;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-family: 'Muli', sans-serif;
  font-size: .8rem;
  color:  lightgrey;
  background-color: transparent;
}
.alignLeft {
  float: left;
  margin-left: 0;
  /* transform: rotate(-90deg); */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
  .App-title {
      font-size: 4rem;
      letter-spacing: 1.3rem;
  }

  .App-subtitle {
      font-size: 1.1rem;
      letter-spacing: .1rem;
  }

  .App-logo { 
      width: 8rem;
      height: 8rem;
   }

   .footer {
    height: 30px;
    font-size: .5rem;
}
}





