html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: Aster;
    src: url(../Aster.otf);
}

.title {
    font-family: 'Aster', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 2rem;
    animation: fadein 3s;
    color: lightgrey;
    /* margin: auto; */
    position: relative;
    left: 25%;
}

nav {
    height: 60px;
    background-color: transparent;
    
}
.nav-link {
    color: black;
    font-family: 'Muli', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    margin: 0 30px 0 30px;
    /* border-radius: 15px; */
    border-radius: 50%;
    padding: 0 15px;
    border: solid 2px black;
    

}
.nav-link:hover {
    color: rgb(1, 88, 1);
    background-color: rgb(162, 180, 162);
    border: solid 2px rgb(162, 180, 162) ;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.logo {
    background-image: url(../Ecolens-logo-07.png);
    height: 8rem;
    width: 8rem;
    /* margin: auto; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0;
}


.subtitle {
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: lightgrey;
    
}









@media only screen and (max-width: 600px) {
    .title {
        font-size: 6rem;
        letter-spacing: 3rem;
    }

    .subtitle {
        font-size: 2.0rem;
    }

    /* .logo { 
        width: 18rem;
        height: 18rem;
     } */
}


