.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color:  dimgrey;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 25px;
        line-height: 12px; 
    }
}